<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="robot_arm_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="base_shoulder_link">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['base_shoulder_link']}</param>
                </state_interface>
            </joint>
            <joint name="shoudler_arm_link">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['shoudler_arm_link']}</param>
                </state_interface>
            </joint>
            <joint name="arm_elbow_link">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['arm_elbow_link']}</param>
                </state_interface>
            </joint>
            <joint name="elbow_forearm_link">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['elbow_forearm_link']}</param>
                </state_interface>
            </joint>
            <joint name="forearm_wrist_link">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['forearm_wrist_link']}</param>
                </state_interface>
            </joint>
            <joint name="wrist_hand_link">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['wrist_hand_link']}</param>
                </state_interface>
            </joint>
            <joint name="gripper_left_finger_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['gripper_left_finger_joint']}</param>
                </state_interface>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
