<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <ros2_control name="Arm" type="system">
      <hardware>
          <!-- By default, set up controllers for simulation. This won't work on real hardware -->
          <plugin>mock_components/GenericSystem</plugin>
      </hardware>
      <joint name="base_shoulder_link">
          <command_interface name="position"/>
          <state_interface name="position">
            <param name="initial_value">0.0</param>
          </state_interface>
      </joint>
      <joint name="shoudler_arm_link">
          <command_interface name="position"/>
          <state_interface name="position">
            <param name="initial_value">0.0</param>
          </state_interface>
      </joint>
      <joint name="arm_elbow_link">
          <command_interface name="position"/>
          <state_interface name="position">
            <param name="initial_value">0.0</param>
          </state_interface>
      </joint>
      <joint name="elbow_forearm_link">
          <command_interface name="position"/>
          <state_interface name="position">
            <param name="initial_value">0.0</param>
          </state_interface>
      </joint>
      <joint name="forearm_wrist_link">
          <command_interface name="position"/>
          <state_interface name="position">
            <param name="initial_value">0.0</param>
          </state_interface>
      </joint>
      <joint name="wrist_hand_link">
          <command_interface name="position"/>
          <state_interface name="position">
            <param name="initial_value">0.0</param>
          </state_interface>
      </joint>
      <joint name="gripper_left_finger_joint">
          <command_interface name="position"/>
          <state_interface name="position">
            <param name="initial_value">0.0</param>
          </state_interface>
      </joint>
      
  </ros2_control>

</robot>
